<table     class="table table-hover"
    
>
    <thead>
        <tr>
            <th> # </th>
            <th> Imágen </th>
            <th> Nombre</th>
            <th> Ingredientes </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of products; let i = index"
        class="animate__animated animate__fadeIn animate__faster"
        >
            <td> {{i+1}} </td>
            <td>
                <img 
                    class="small-flag"
                    src="https://images.pexels.com/{{row.imgSrc}}"   
                />
            </td>
            <td>{{ row.product }}</td>
            <td>{{ row.ingredients}}</td>
            <td>
                    <button class="btn btn-warning m-1"
                    [routerLink]="['/editar/',row.id]"
                    >Editar
                    </button>
                    <button class="btn btn-danger m-1"
                            (click)="eliminarProducto(row.id)">
                        Eliminar
                    </button>
                
            </td>
  </tbody>
</table>